/// Componente: Banner
.banner{
    &-text{
        position: absolute;
        transform: translate(-50%, -50%);
        text-align: center;
        color: getColor(tertiary);
        z-index: 50;
        text-transform: uppercase;
        top: 85%;
        left: 72%;
        font-size: getFontSize(sm);
        font-family: $font-family-logo;
        
        @include response(sm){
            font-size: getFontSize(md);
            top: 65%;
            left: 72%;
        }

        @include response(md){
            font-size: getFontSize(xl);
            top: 67%;
            left: 72%;
        }

        @include response(xl){
            font-size: getFontSize(xxxl);
            top: 47%;
            left: 72%;
        }
    }
    
    &-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 10;
    }
}