/// Componente de noticias / interés
.news{
    @include sectionPaddings();
    
    @include flex(column, center, center, 5rem);
    
    &-header{
        @include section_header();
    }

    @include response(xl){
        display: grid;
        grid-template-columns: 0.2fr 1fr 0.2fr 1fr 0.2fr 1fr 0.2fr;
        grid-template-rows: 1fr;
        &-header{
            grid-area: 1 / 1 / 2 / 8;
            @include section_header();
        }
    
        &-first{
            grid-area: 2 / 2 / 3 / 3;
        }
    
        &-second{
            grid-area: 2 / 4 / 3 / 5;
        }
    
        &-third{
            grid-area: 2 / 6 / 3 / 7;
        }
    }
}